* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
h1 {
    text-align: center;
}
p {
    padding: 5px;
    margin: 10px;
    clear: right;
}
.row{
    width: 100%;
}
.box {
    background-color: gray;
    border: 1px solid black;
    margin: 10px;
}
.title {
    border: 1px solid black;
    width: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    float: right;
}
#chicken {
    background-color: pink;
}
#beef {
    background-color: brown;
    color: white;
}
#sushi {
    background-color: moccasin;
}
@media (min-width: 992px){
    .col-lg-4 {
        width: 33%;
        float: left;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .col-md-6 {
        width: 50%;
        float: left;
    }
    .col-md-12 {
        width: 100%;
        float: left;
    }
}